.providerBtn {
  width: 6vw;
  max-width: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.providerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signOutBtn {
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;  
}