.page {
    height: 100vh;
    display: flex;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(247,255,245,1) 59%, rgba(211,252,235,1) 100%);
}