.authForm {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.signInFormContainer, .signUpFormContainer, .signInFormContainerActive, .signUpFormContainerActive {
    position: absolute;
    padding: 10px 40px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all 0.6s ease-in-out;
}

.signInFormContainer {
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

.signInFormContainerActive {
    transform: translate(-100%, -100%);
}

.signUpFormContainer {
    top: 0;
    left: 0;
    transform: translate(100%, 100%);
}

.signUpFormContainerActive {
    transform: translate(0, 0);
}

.formTitle, .toggleTitle {
    margin: 30px 0;
}

.signInFormContainer input ,.signUpFormContainer input, .signInFormContainerActive input ,.signUpFormContainerActive input {
    padding: 10px 15px;
    margin: 10px 0;
    width: 100%;
    font-size: 14px;
    background-color: #f7f7f7;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
}

.signInFormContainer input:focus ,.signUpFormContainer input:focus, .signInFormContainerActive input:focus ,.signUpFormContainerActive input:focus {
    outline: none;
}

.toggleLeft, .toggleRight, .toggleLeftActive, .toggleRightActive {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all 0.6s ease-in-out;
}

.toggleLeft {
    top: 0;
    left: 0;
    transform: translate(0, -100%);
}

.toggleLeftActive {
    transform: translate(100%, 0);
}

.toggleRight {
    top: 0;
    left: 0;
    transform: translate(100%, 0);
}

.toggleRightActive {
    transform: translate(200%, 100%);
}

.togglePanel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggleBtn {
    padding: 10px 15px;
    margin: 20px 0;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
}