.avator {
  margin: 0 5%;
  width: 15%;
  min-width: 110px;
  height: 100%;
}

.userInfo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signin {
  padding: 7px 5px;
  border: 1px solid #818181;
  border-radius: 15px;
}

.avatorImg {
  height: 70%;
  border-radius: 50%;
}

.userName {
  margin: 0 10%;
}