.letterForm {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.status {
  margin-top: 50px;
}

.required {
  margin: 10px 0;
  color: #ff5353;
}

.envelope {
  margin: 90px auto 0 auto;
  max-width: 900px;
  height: 75vw;
  max-height: 600px;
  transform: rotate(-20deg);
}

.triangle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64%;
  aspect-ratio: 2/1;
  background-color: #e6e6e6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  transform: translate(-50%, 0);
  clip-path: polygon(0 50%, 50% 0, 100% 50%);
  z-index: 1;
}

.square {
  position: absolute;
  top: min(16vw, 144px);
  left: 50%;
  width: 64%;
  height: 40vw;
  max-height: 300px;
  background-color: #f0f0f0;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  transform: translate(-50%, 0);
  z-index: 3;
}

.letter {
  position: absolute;
  top: min(16vw, 144px);
  left: 50%;
  padding: 20px;
  width: 64%;
  height: 40vw;
  max-height: 300px;
  background-color: #fdfdfd;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transform: rotate(20deg) translate(-50%, 30%);
  z-index: 4;
}

.envelope.active {
  animation: moveEnvelope 4s;
  transform: rotate(0deg) translate(0, 0);
}

@keyframes moveEnvelope {
  0% {
    transform: rotate(-20deg) translate(0, 0);
  }
  20% {
    transform: rotate(0deg) translate(0, 25%);
  }
  60% {
    transform: rotate(0deg) translate(0, 0);
  }
  90% {
    transform: rotate(0deg) translate(0, 0);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

.triangle.active {
  animation: moveTriangle 4s;
  clip-path: polygon(0 50%, 50% 100%, 100% 50%);
  z-index: 4;
}

@keyframes moveTriangle {
  0% {
    clip-path: polygon(0 50%, 50% 0, 100% 50%);
    z-index: 1;
  }
  60% {
    clip-path: polygon(0 50%, 50% 0, 100% 50%);
    z-index: 2;
  }
  80% {
    z-index: 4;
  }
  90% {
    clip-path: polygon(0 50%, 50% 100%, 100% 50%);
    z-index: 4;
  }
  100% {
    clip-path: polygon(0 50%, 50% 100%, 100% 50%);
    z-index: 4;
  }
}

.letter.active {
  animation: moveLetter 4s;
  top: min(16vw, 144px);
  box-shadow: none;
  transform: rotate(0deg) translate(-50%, 0);
  z-index: 2;
}

@keyframes moveLetter {
  0% {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transform: rotate(20deg) translate(-50%, 30%);
    z-index: 4;
  }
  20% {
    transform: rotate(0deg) translate(-50%, -120%);
    z-index: 4;
  }
  21% {
    transform: rotate(0deg) translate(-50%, -120%);
    z-index: 2;
  }
  60% {
    top: min(16vw, 144px);
    box-shadow: none;
    transform: rotate(0deg) translate(-50%, 0);
    z-index: 2;
  }
  90% {
    top: min(16vw, 144px);
    transform: rotate(0deg) translate(-50%, 0);
    z-index: 2;
  }
  100% {
    top: min(16vw, 144px);
    transform: rotate(0deg) translate(-50%, 0);
    z-index: 2;
  }
}

.sentence {
  padding: 15px;
  width: 100%;
  height: 100%;
  font-size: clamp(0.5rem, calc(0.6rem + 1.1vw), 1.2rem);
  border: 3px dotted #ff5353;
  resize: none;
}

.sentence:focus {
  outline: none;
}

.notifyFormContainer {
  margin: 30px auto;
  width: 50vw;
  max-width: 500px;
  height: 10vw;
  max-height: 80px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.notifyForm {
  width: 70%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dateNav {
  font-size: clamp(0.5rem, calc(0.6rem + 1.1vw), 1.2rem);
}

.date {
  padding: 2%;
  font-size: clamp(0.5rem, calc(0.4rem + 1.1vw), 1.2rem);
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  cursor: pointer;
}