.letterForm {
    width: 100%;
    height: 800px;
    text-align: center;
    overflow: hidden;
}

.envelope {
    margin: 0 auto;
    max-width: 900px;
    height: 65vw;
    max-height: 520px;
    transform: rotate(-20deg);
}

.triangle {
    margin: 0 auto;
    width: 65%;
    aspect-ratio: 4/1;
    background-color: #e6e6e6;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.square {
    margin: 0 auto;
    width: 65%;
    height: 40vw;
    max-height: 300px;
    background-color: #f0f0f0;
}

.letter {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfdfd;
    border-radius: 15px;
    transform: rotate(20deg);
}

.sentence {
    padding: 15px 15px;
    width: 100%;
    height: 100%;
    font-size: clamp(0.5rem, calc(0.7rem + 1vw), 1.2rem);
    border: 3px dotted #ff5353;
    resize: none;
}

.sentence:focus {
    outline: none;
}