.letterForm {
  width: 100%;
  height: 800px;
  text-align: center;
  overflow: hidden;
}

.envelope {
  margin: 90px auto 0 auto;
  max-width: 900px;
  height: 75vw;
  max-height: 600px;
  transform: rotate(-20deg);
}

.triangle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64%;
  aspect-ratio: 2/1;
  background-color: #e6e6e6;
  transform: translate(-50%, 0);
  clip-path: polygon(0 50%, 50% 0, 100% 50%);
  z-index: 1;
}

.square {
  position: absolute;
  top: min(16vw, 144px);
  left: 50%;
  width: 64%;
  height: 40vw;
  max-height: 300px;
  background-color: #f0f0f0;
  transform: translate(-50%, 0);
  z-index: 3;
}

.letter {
  position: absolute;
  top: min(16vw, 144px);
  left: 50%;
  padding: 20px;
  width: 64%;
  height: 40vw;
  max-height: 300px;
  background-color: #fdfdfd;
  border-radius: 15px;
  transform: rotate(20deg) translate(-50%, 30%);
  z-index: 4;
}

.envelope.active {
  animation: moveEnvelope 4s;
  transform: rotate(0deg) translate(0, 0);
}

@keyframes moveEnvelope {
  0% {
    transform: rotate(-20deg) translate(0, 0);
  }
  20% {
    transform: rotate(0deg) translate(0, 25%);
  }
  60% {
    transform: rotate(0deg) translate(0, 0);
  }
  90% {
    transform: rotate(0deg) translate(0, 0);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

.triangle.active {
  animation: moveTriangle 4s;
  clip-path: polygon(0 50%, 50% 100%, 100% 50%);
  z-index: 4;
}

@keyframes moveTriangle {
  0% {
    clip-path: polygon(0 50%, 50% 0, 100% 50%);
    z-index: 1;
  }
  60% {
    clip-path: polygon(0 50%, 50% 0, 100% 50%);
    z-index: 2;
  }
  80% {
    z-index: 4;
  }
  90% {
    clip-path: polygon(0 50%, 50% 100%, 100% 50%);
    z-index: 4;
  }
  100% {
    clip-path: polygon(0 50%, 50% 100%, 100% 50%);
    z-index: 4;
  }
}

.letter.active {
  animation: moveLetter 4s;
  top: min(16vw, 144px);
  transform: rotate(0deg) translate(-50%, 0);
  z-index: 2;
}

@keyframes moveLetter {
  0% {
    transform: rotate(20deg) translate(-50%, 30%);
    z-index: 4;
  }
  20% {
    transform: rotate(0deg) translate(-50%, -120%);
    z-index: 4;
  }
  21% {
    transform: rotate(0deg) translate(-50%, -120%);
    z-index: 2;
  }
  60% {
    top: min(16vw, 144px);
    transform: rotate(0deg) translate(-50%, 0);
    z-index: 2;
  }
  90% {
    top: min(16vw, 144px);
    transform: rotate(0deg) translate(-50%, 0);
    z-index: 2;
  }
  100% {
    top: min(16vw, 144px);
    transform: rotate(0deg) translate(-50%, 0);
    z-index: 2;
  }
}

.sentence {
  padding: 15px 15px;
  width: 100%;
  height: 100%;
  font-size: clamp(0.5rem, calc(0.6rem + 1.1vw), 1.2rem);
  border: 3px dotted #ff5353;
  resize: none;
}

.sentence:focus {
  outline: none;
}
