.container {
  margin: 0 auto;
  padding: 30px 10px;
  width: 90%;
  max-width: 700px;
  height: 30vw;
  min-height: 200px;
  max-height: 250px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #7c7c7c;
}

.user {
  height: 100%;
  font-size: clamp(0.5rem, calc(0.6rem + 1.1vw), 1.2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userIcon {
  height: 70%;
  border-radius: 50%;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35);
}

.username {
  margin-top: 10px;
}

.sentenceContainer {
  padding: 15px;
  width: 65%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35);
}

.sentence {
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  font-size: clamp(0.5rem, calc(0.6rem + 1.1vw), 1.2rem);
  border: 3px dotted #ff5353;
}