.notifyForm {
  margin: 30px auto;
  width: 50vw;
  max-width: 500px;
  height: 10vw;
  max-height: 100px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.notifyFormContainer {
  width: 50%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dateNav {
  font-size: clamp(0.5rem, calc(0.6rem + 1.1vw), 1.2rem);
}

.date {
  padding: 3%;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  cursor: pointer;
}